* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 
.navbar {
  background-color: brown;
}

.container-fluid {
  background-color: aqua;
} */

.sobremi {
  /* background-color: chartreuse; */
}

.parrafo-sobremi {
  /* background-color: aqua; */
}

.titulo-hab {
  /* background-color: brown; */
}

main {
  background-color: blue;
}

footer {
  background-color: darkcyan;
}