* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500. 1fr));
  gap: 30px;
  margin: 0;
  padding: 0;
  background-image: url(/assets/back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-toggler-icon {
  background-color: aliceblue;
  border-radius: 5px;
}

.cards-cont-abs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar a,
.navbar-brand a,
.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.navbar {
  align-self: flex-start;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  top: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  padding: 40px;

}

.parrafo-sobremi {
  font-size: 20px;
}

.sobremi {

  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 600px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 15px 4px rgba(255, 255, 255, 0.75);
}

.proy-cont {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 800px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 2px 15px 4px rgba(255, 255, 255, 0.75);
}

.habilidades {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 800px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 15px 4px rgba(255, 255, 255, 0.75);
}

.titulo-hab {
  margin-bottom: 20px;
}

.hab-list {
  font-size: 17px;
  font-weight: bolder;
}

.imgcc {
  width: 50px;
}

.imgc,
.pascal-icon,
.html-icon,
.css-icon,
.bootrap-icon {
  margin-left: 20px;
  width: 50px;
}


footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 15px 4px rgba(255, 255, 255, 0.75);
}

.links-cont {
  font-weight: bolder;
}

.email-icon {
  background-color: aliceblue;
  border-radius: 11px;
  width: 40px;
}

.what-icon,
.github-icon {
  border-radius: 11px;
  background-color: aliceblue;
  margin-left: 20px;
  width: 35px;
}