* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  padding: 40px;
}

.sobremi {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: chartreuse;
  width: 600px;
  padding: 40px;
}

.habilidades {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: brown;
  margin-top: 20px;
  width: 800px;
  padding: 40px;
}

.titulo-hab {
  margin-bottom: 20px;
}

.hab-list {
  font-size: 17px;
  font-weight: bolder;
}

.imgcc {
  width: 50px;
}

.imgc,
.pascal-icon,
.html-icon,
.css-icon,
.bootrap-icon {
  margin-left: 20px;
  width: 50px;
}

.proy-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: orange;
  margin-top: 20px;
  width: 800px;
  padding: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 40px;
  background-color: darkcyan;
}

.links-cont {
  font-weight: bolder;
}

.email-icon {
  width: 40px;
}

.what-icon,
.github-icon {
  margin-left: 20px;
  width: 35px;
}